# Virtual environments
.venv/
tf-env/

# Streamlit
.streamlit/

# Model files
*.h5
*.pkl
*.csv

# Dataset folders
data/
raw_images/
pkl dataset/
others/

# Python bytecode
__pycache__/
*.py[cod]

# OS files
.DS_Store
Thumbs.db

# Logs & misc
*.log
*.png
